/* .todoList_main .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid white;
  width: 165px;
  border-radius: 10px;
}

.todoList_main .header button {
  padding : 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 10px;
}

.todoList_main .theList li{
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  list-style: none;
}

.todoList_main .theList li:hover{
  background-color: pink;
  cursor: pointer;
}
ul.theList{
  padding: 0;
} */